body{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    flex-direction: column;
    width: 1440px;
    gap: 20px;
}
body.dark {
    background-color: #1a0e09bb; 
    color: #fff;
}
a, p, h1, h2, h3, h4, b{
    margin: 0;
}
main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 94%;
    border: 1px solid #000;
}
header{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding-top: 15px;
    width: 100%;
}
.header-nav{
    display:flex;
    gap: 30px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.header-nav a{
    text-decoration: none;
    color: #000000;
    line-height: 26px;
    font-size: 14px;
    text-transform: uppercase;
}
#gs{
    color: #E38C00;
}
.header-nav a{
    cursor: pointer;
}
.dark .styled-button{
    background-color: #ff8c0080;
}
.dark .header-nav a{
    color: #fff;
}
.dark .atolla img{
    filter: invert(1);
}
.dark .closediv{
    background-color: #eecfc54a;
}
.styled-button {
    background-color: #ff8c00; 
    color: black; 
    border: none; 
    border-radius: 50px; 
    padding: 4px 20px; 
    font-size: 13px; 
    text-transform: uppercase; 
    cursor: pointer; 
    transition: background-color 0.3s ease; 
    display: inline-block; 
    text-align: center; 
    text-decoration: none; 
}

.styled-button:hover {
    background-color: #e07b00; 
}

.styled-button:active {
    background-color: #c06b00; 
}

.styled-button:disabled {
    background-color: #cccccc; 
    cursor: not-allowed; 
}

.about-me {
    padding-top: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  
  .about-me h2 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .about-me ul {
    list-style: none;
    padding: 0;
  }
  
  .about-me ul li {
    margin-bottom: 10px;
    font-size: 18px;
  }
  
  .about-me ul li a {
    color: #3498db;
    text-decoration: none;
  }
  
  .about-me ul li a:hover {
    text-decoration: underline;
  }
  
  /* Стили для модального окна */
  .modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
    padding-top: 60px;
  }
  #wor{
    width: 100%;
  }
  .modal-content {
    background-color: #fefefe;
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 800px;
    border-radius: 10px;
  }
  
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
  
  #map {
    width: 100%;
    height: 400px;
  }
  footer{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 94%;
    border: 1px solid #000;
    flex-direction: column;
  }
  .upfooter{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #01152F;
    width: 100%;
    color: #fff;
    height: 340px;
  }
  .email-container {
    display: flex;
    align-items: center;
    border: 2px solid #ffffff;
    border-radius: 50px;
    overflow: hidden;
    background-color: #001b38;
  }
  .email-input {
    flex: 1;
    border: none;
    padding: 10px 20px;
    outline: none;
    color: #ffffff;
    background-color: #001b38;
  }
  .email-input::placeholder {
    color: #ffffff;
  }
  .join-button {
    border: none;
    background-color: #f5f3ee;
    color: #001b38;
    padding: 10px 20px;
    cursor: pointer;
    font-weight: bold;
    border-radius: 0 50px 50px 0;
  }
  .firstupfooter{
    border-right: 1px solid #fff;
    height: 340px;
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    width: 46%;
    gap: 30px;
    padding-left: 20px;
  }
  .firstupfooter p{
    font-size: 14px;
  }
  .firstupfooter h2{
    font-size: 39px;
    line-height: 43px;
    font-weight: normal;
  }
  .secondupfooter{
    display: flex;
    border-right: 1px solid #fff;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    width: 27%;
    padding-left: 20px;
    height: 340px;
  }
  .secondupfooter ul {
    list-style: none;
    padding: 0;
  }
  
  .secondupfooter ul li {
    margin-bottom: 15px;
    font-size: 14px;
  }
  .threeupfooter{
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    width: 27%;
    height: 340px;
  }
  .frontthreeupfooter{
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    border-bottom: 1px solid #fff;
    width: 100%;
    padding-left: 20px;
    height: 170px;
    gap: 14px;
  }
  .imginst{
    content: url("../images/i");
  }
  .backthreeupfooter{
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    width: 100%;
    padding-left: 20px;
    height: 170px;
    gap: 30px;
  }
  .backthreeupfooter p{
    font-size: 14px;
    line-height: 20px;
  }
  .imginst{
    content: url("../images/inst.png");
  }
  .imgfb{
    content: url("../images/fb.png");
  }
  .imgtwit{
    content: url("../images/twit.png");
  }
  .instfbtwit{
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
  }
  .backfooter{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 96%;
    background-color: #FCF9F2;
  }
  .backbfooter{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
  }
  .backbfooter ul {
    list-style: none;
    padding: 0;
    display: flex;
  }
  
  .backbfooter ul li {
    margin-right: 26px;
    font-size: 14px;
    font-weight: normal;
    text-transform: uppercase;
  }
  .dark .block-reviews{
    background-color: #ff8c0034
}
.dark .bloki-reviews{
  background-color: #1a0e0914;
}
.bloki-reviews{
  padding-top: 30px;
  padding-bottom: 30px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  background-color: #FCF9F2;
}
.reviews{
  justify-content: space-around;
  align-items: center;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.slid{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.block-reviews{
  display: flex;
  justify-content: start;
  align-items: start;
  padding: 40px;
  background-color: #fff;
  border-radius: 20px;
  flex-direction: column;
  width: 66%;
  gap: 14px;
}
.photobio1{
  content: url("../images/olivia.png");
}
.photobio2{
  content: url("../images/briana.png");
}
.photobio3{
  content: url("../images/jane.png");
}
.bio{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.fio{
  display: flex;
  flex-direction: column;
  gap: 7px
}
.crublock{
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.leftblock{
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  border: 1px solid #000;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  padding: 5px 20px;
}
.rightblock{
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border: 1px solid #000;
  padding: 5px 25px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}
.rewis{
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
  gap: 10px;
}
.imgphoto{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: #FCF9F2;
}
.blockimgphoto{
  border: 1px solid #000;
  width: 25%;
  height: 220px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #FCF9F2;
}
.zvezdi{
  content: url("../images/zvezdi.png");
}
.closediv{
  background-color: #EECFC5;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  border: 1px solid #000;
  padding-top: 20px;
  padding-bottom: 20px;
}
.closediv p{
  font-size: 18px;
  line-height: 22px;
  word-spacing: 4px;
}
.closediv a{
  cursor: pointer;
}
.section1{
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
  gap: 30px;
  background-image: url(../images/section1img.png);
  width: 100%;
  height: 400px;
}
.section1 >div{
  padding-left: 50px;
  display: flex;
  gap: 30px;
  flex-direction: column;
}
.section1 >div button{
  width: 40%;
  padding: 12px 20px; 
  font-size: 14px; 
}
.section1 >div p{
  font-size: 18px;
}
.section1 >div h1{
  font-size: 50px;
}
.dark .about-me{
  background-color: #ff8c0034
}
  @media(max-width: 1024px){
    body{
        width: 1024px;
    }
    header{
        width: 94%;
    }
    .block-reviews{
      width: 62%;
    }
    .reviews{
      width: 50%;
    }
    .bloki-reviews{
      flex-direction: column;
      gap: 30px;
    }
  }
  @media(max-width: 768px){
    body{
        width: 768px;
    }
    .reviews{
      width: 63%;
    }
    .header-nav {
        display: none;
      }
      .header-block2 {
        display: none;
      }
      .burger-menu {
        width: 30px;
        height: 21px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        cursor: pointer;
        position: fixed;
        top: 20px;
        right: 20px;
        z-index: 2;
      }
      .burger-menu span {
        display: block;
        width: 100%;
        height: 3px;
        background-color: #333;
        transition: all 0.3s ease-in-out;
      }
      .burger-menu.open span:nth-child(1) {
        transform: rotate(45deg) translate(5px, 5px);
      }
      .burger-menu.open span:nth-child(2) {
        opacity: 0;
      }
      .burger-menu.open span:nth-child(3) {
        transform: rotate(-45deg) translate(5px, -5px);
      }
      .header-block1 {
        position: fixed;
        top: 50px;
        right: -250px;
        width: 250px;
        height: 100%;
        background-color: #fff;
        box-shadow: -2px 0 5px rgba(0,0,0,0.5);
        transition: right 0.3s ease-in-out;
        z-index: 1;
      }
      .header-block1.open {
        right: 0;
      }
      .header-nav {
        display: flex;
        flex-direction: column;
        padding: 20px;
        gap: 20px;
      }
      .header-nav a {
        margin: 0px 0px;
        text-decoration: none;
        color: #333;
      }
  }
  @media(max-width: 425px){
    body{
        width: 425px;
    }
    .reviews{
      width: 100%;
    }
    .block-reviews{
      width: 71%;
    }
    .upfooter{
        flex-direction: column;
        height: auto;
    }
    .firstupfooter, .secondupfooter, .threeupfooter{
        border-bottom: 1px solid #fff;
        border-right: 0px;
        height: auto;
        padding: 20px 20px;
        width: 100%;
        align-items: center;
    }
    .backfooter, .backbfooter{
        flex-direction: column;
        gap: 0px;
        align-items: start;
    }
  }